# Don't track the following files:

## Build configuration files
build_config.mk

## Temporary files create by editors
*~
./*~
.*.swp

## Object files
*.o
*.obj

# Tests
*_test

# Targets
libenquery.a
*.lib
demo

## Stuff that sometimes exists on OSX
.DS_Store
*/.DS_Store
*.dSYM

## MSVC stuff
.\base\Debug
.\base\Release
.\include\Debug
.\include\Release
*.idb
*.lastbuildstate
*.log
*.pdb
*.sdf
*.suo
*.tlog